src/main/webapp/WEB-INF/wsdl/ClientAction.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://cdp.epam.com/ws/definitions" name="ClientAction" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cdp.epam.com/ws/definitions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cdp.epam.com/ws/definitions" schemaLocation="ClientAction_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateClientDetails">
    <part name="parameters" element="tns:updateClientDetails"/>
  </message>
  <message name="updateClientDetailsResponse">
    <part name="parameters" element="tns:updateClientDetailsResponse"/>
  </message>
  <message name="getAllClientInfo">
    <part name="parameters" element="tns:getAllClientInfo"/>
  </message>
  <message name="getAllClientInfoResponse">
    <part name="parameters" element="tns:getAllClientInfoResponse"/>
  </message>
  <message name="getClientAccountDetails">
    <part name="parameters" element="tns:getClientAccountDetails"/>
  </message>
  <message name="getClientAccountDetailsResponse">
    <part name="parameters" element="tns:getClientAccountDetailsResponse"/>
  </message>
  <message name="getClientDepositesDetails">
    <part name="parameters" element="tns:getClientDepositesDetails"/>
  </message>
  <message name="getClientDepositesDetailsResponse">
    <part name="parameters" element="tns:getClientDepositesDetailsResponse"/>
  </message>
  <message name="getClientActivitiesDetails">
    <part name="parameters" element="tns:getClientActivitiesDetails"/>
  </message>
  <message name="getClientActivitiesDetailsResponse">
    <part name="parameters" element="tns:getClientActivitiesDetailsResponse"/>
  </message>
  <message name="getSystemPropertyValueByKey">
    <part name="parameters" element="tns:getSystemPropertyValueByKey"/>
  </message>
  <message name="getSystemPropertyValueByKeyResponse">
    <part name="parameters" element="tns:getSystemPropertyValueByKeyResponse"/>
  </message>
  <message name="getAllSystemProperty">
    <part name="parameters" element="tns:getAllSystemProperty"/>
  </message>
  <message name="getAllSystemPropertyResponse">
    <part name="parameters" element="tns:getAllSystemPropertyResponse"/>
  </message>
  <portType name="ClientActionPort">
    <operation name="updateClientDetails">
      <input message="tns:updateClientDetails"/>
      <output message="tns:updateClientDetailsResponse"/>
    </operation>
    <operation name="getAllClientInfo">
      <input message="tns:getAllClientInfo"/>
      <output message="tns:getAllClientInfoResponse"/>
    </operation>
    <operation name="getClientAccountDetails">
      <input message="tns:getClientAccountDetails"/>
      <output message="tns:getClientAccountDetailsResponse"/>
    </operation>
    <operation name="getClientDepositesDetails">
      <input message="tns:getClientDepositesDetails"/>
      <output message="tns:getClientDepositesDetailsResponse"/>
    </operation>
    <operation name="getClientActivitiesDetails">
      <input message="tns:getClientActivitiesDetails"/>
      <output message="tns:getClientActivitiesDetailsResponse"/>
    </operation>
    <operation name="getSystemPropertyValueByKey">
      <input message="tns:getSystemPropertyValueByKey"/>
      <output message="tns:getSystemPropertyValueByKeyResponse"/>
    </operation>
    <operation name="getAllSystemProperty">
      <input message="tns:getAllSystemProperty"/>
      <output message="tns:getAllSystemPropertyResponse"/>
    </operation>
  </portType>
  <binding name="ClientActionPortBinding" type="tns:ClientActionPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateClientDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllClientInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getClientAccountDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getClientDepositesDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getClientActivitiesDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSystemPropertyValueByKey">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllSystemProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClientAction">
    <port name="ClientActionPort" binding="tns:ClientActionPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

